<!-- Created by Yuxi Luo; 2018 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="css/about.css">
    <title> DAASH / About </title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="img/logo.png" alt="DAASH" id="littlelogo" style="width:100px; height: 40px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/"> Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link active" href="/about"> About </a>
            </div>
        </div>
    </nav>

    <style>
        td{
            font-size: 24px;
        }
    </style>

    <div class="container">
        <h1>DAASH (Disaster Assistance and Safety Helper)</h1>
        <h3>Storms and floods and wild-fires, oh my! </h3>
        <h3>Need help with recovery solutions after a calamity? Need a plan before the event even happens? You're in the right place!</h3>
        <br><br>
        <h3>The recent increase in natural disasters such as the fires in California and tropical storms around the world has caused damage that have cost a lot to many families; for some, even their lives. We created something that will help everyone plan for the next disaster and take precautions so that they are sooner able to return to their normal routines after these events occur..</h3?
        <br><br><br>
        <h2> Project Description </h2>
        <h4> DAASH is a web app that provides useful disaster information in a user-friendly way. It pulls disaster data from FEMA and overlays it with news to give the user helpful insights into disasters happening around them. Written using Node.js for the backend, APIs from FEMA, NewsAPI, and PredictHQ, and a combination of JavaScript, HTML, and CSS to craft the frontend, DAASH helps you find the current disasters occurring in different parts of the world and understand your home using reliable data. </h4>
        <br>
        <h3> Creators </h3>
        <table>
            <tr>
                <th>Name</th>
                <th>Contribution</th>
            </tr>
            <tr>
                <td>Ben Redmond</td>
                <td>Developed both frontend and backend sections of the webapp, worked mostly with gathering data & wrangling APIs</td>
            </tr>
            <tr>
                <td>Yuxi Luo</td>

            </tr>
            <tr>
                <td>Ibironke Osipitan</td>
                <td>Handled geolocation feauture and sleected images for map markers.</td>
            </tr>
            <tr>
                <td>Tanya Sengupta</td>

            </tr>
        </table>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7ykUUPTmMCeAfmSTnbk0f0cHnYbojaII&callback=initMap" async defer></script>

</body>
